
{% load static %}
<head>
{% block head %}


{% endblock %}
</head>

<body>  
  <link rel="stylesheet" type="text/css" href="{% static 'inventory/header.css' %}">

  <div class="header">
      <img src="{% static 'inventory/Coffee_logo.png' %}" width="80" height="65.4" >
      {% if user.username %}
        <a class="logout-button" href="{% url 'logout' %}">Log out</a>
      {% else %}
        <a class="login-button" href="{% url 'login' %}">Log in</a>
      {% endif %}
      <div class="header-content">
          <h1 class="header-title">SortApp</h1>
      </div>
  </div>
  {% if user.username %}
  <nav class="navbar">
      <a class="nav-item" href="{% url 'index' %}">Home</a>
      <a class="nav-item" href="{% url 'pantry' %}">Pantry</a>
      <a class="nav-item" href="{% url 'menu' %}">Menu</a>
  </nav>  
  {% else %}
  <nav class="navbar">
    <a class="nav-item" href="{% url 'index' %}">Home</a>
  </nav>  
  {% endif %}
  {% if user.username %}
          <h4 class="header-greet">Welcome {{ user.username }}!</h4>
  {% endif %}
    {% block content %}
    {% endblock %}
</body>