
{% load static %}
<head>
  {% block head %}


  {% endblock %}
</head>

<body>  
  <link rel="stylesheet" type="text/css" href="{% static 'inventory/header.css' %}">

  <div class="header">
      <img src="{% static 'inventory/Coffee_logo.png' %}" width="80" height="65.4" >
      <div class="header-content">
          <h1 class="header-title">SortApp</h1>
      </div>
  </div>
  <nav class="navbar">
      <a class="nav-item" href="{% url 'home' %}">Home</a>
      <a class="nav-item" href="{% url 'pantry' %}">Pantry</a>
  </nav>  
 
    {% block content %}
    {% endblock %}
</body>